/* src/estilos/Chat.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.back-button {
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: white;
}

.message-input-container input {
  flex-grow: 1;
  margin-right: 10px;
}
.contact-info-chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.message-input-container button {
  background-color: #28a745;
  border: none;
  border-radius: 15px;
}

.message-input-container button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .back-button {
    font-size: 1.2em;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .chat-header {
    padding: 8px;
  }
}
