/* src/estilos/Chat.css */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  position: sticky; /* Mantener la cabecera fija */
  top: 0; /* Fijar la cabecera en la parte superior */
  z-index: 1000; /* Asegurar que esté por encima del contenido */
}

.contact-info-chat {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.messages-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative; /* Fijo en su contenedor padre */
}

.message-input-container {
  display: flex;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  border-top: 1px solid #ccc;
  background-color: #e2e4fc;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6ac47e; /* Verde pastel */
  color: white;
  cursor: pointer;
}
