/* src/estilos/ContactList.css */

.contact-list-container {
  padding: 20px;
}

.contact-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.add-contact-button {
  padding: 10px 20px;
  background-color: #12be29;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.contact-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-info-main {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-weight: bold;
}

.contact-lastMessage {
  font-size: 14px;
  color: #888;
}

.contact-date-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-date {
  font-size: 12px;
  color: #aaa;
}

.contact-status {
  font-size: 12px;
  color: #4caf50;
}
