/* src/estilos/ContactList.css */

.contact-list-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.contact-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.add-contact-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6ac47e; /* Verde pastel */
  color: white;
  cursor: pointer;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-item:hover {
  background-color: #f9f9f9;
}

.contact-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-info-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contact-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-lastMessage {
  font-size: 14px;
  color: #888;
}

.contact-date-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-date {
  font-size: 12px;
  color: #888;
}

.contact-status {
  font-size: 12px;
  color: #6ac47e;
  margin-top: 5px;
}

.contact-status.Pendiente {
  color: #f00;
}
