/* src/estilos/ContactList.css */

.contact-list-container {
  position: relative;
  padding-top: 60px; /* Añadimos un padding superior para evitar que el contenido se superponga con el campo de búsqueda */
}
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  position: fixed; /* Fijamos el input en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Nos aseguramos de que esté por encima de otros elementos */
  padding: 10px;
  background-color: #fff; /* Añadimos un fondo blanco para que se vea mejor */
  border-bottom: 1px solid #ccc; /* Añadimos una línea inferior para separar el input del resto del contenido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadimos un ligero sombreado para destacar el input */
}
.search-icon {
  font-size: 20px;
  color: #888;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.contact-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
}

.contact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contact-name {
  font-weight: bold;
}

.contact-lastMessage {
  font-size: 0.9em;
}

.contact-date-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-date {
  font-size: 0.8em;
  color: gray;
}

.contact-status {
  font-size: 0.8em;
  margin-left: 10px;
}

.contact-status.read {
  color: green;
}

.contact-status.delivered {
  color: blue;
}

.contact-status.pending {
  color: orange;
}

@media (max-width: 768px) {
  .contact-item {
    padding: 5px;
  }

  .contact-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .contact-name {
    font-size: 1em;
  }

  .contact-lastMessage {
    font-size: 0.8em;
  }

  .contact-date {
    font-size: 0.7em;
  }

  .contact-status {
    font-size: 0.7em;
  }
}
