/* src/estilos/ContactSettings.css */

.settings-container {
  padding: 20px;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button, .home-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

h1 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
