/* src/estilos/Message.css */
.message-container {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  max-width: 60%; /* Limitar el ancho máximo de los mensajes */
}

.my-message {
  padding: 0px 10px 10px 10px;
  
  /* width: 50%; */
  border-radius: 10px;
  border: solid 1px #3ba556;
  background-color: #dcf8c6; /* Verde claro para tus mensajes */
}

.their-message {
  padding: 0px 10px 10px 10px;
  align-self: flex-end; /* Alinear a la derecha */
  width: 50%;
  border-radius: 10px;
  border: solid 1px #3ba556;
  background-color: #f1f0f0; /* Gris claro para los mensajes del contacto */
}

.message-content {
  padding: 10px 10px 10px 0px;
  border-radius: 10px;
}

.message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin-top: 5px;
}

.message-status.Leído {
  margin-left: 10px;
  color: #00aa25;
}

.message-status.Pendiente {
  margin-left: 10px;
  color: #d80404;
}

.message-status.Entregado {
  margin-left: 10px;
  color: #1204d8;
}
