/* src/estilos/MessageInput.css */

.message-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6ac47e; /* Verde pastel */
  color: white;
  cursor: pointer;
}
