/* src/estilos/NewContact.css */

.new-contact-container {
  padding: 20px;
}

.new-contact-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-button, .home-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  margin: 20px 0;
  font-size: 24px;
}

.new-contact-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.new-contact-submit {
  padding: 10px 20px;
  background-color: #A3C9A8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
}
