/* src/estilos/NewContact.css */

.new-contact-container {
  padding: 20px;
}

.new-contact-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-button, .home-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  margin: 20px 0;
  font-size: 24px;
}

.new-contact-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 15px;
  border: solid 1px rgb(17, 16, 16);
  margin-top: 2px;
}

.new-contact-submit {
  padding: 10px 20px;
  background-color: #12be29;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  align-self:auto;
  font-size: medium;
}

/* Nuevos estilos para la selección de avatares */

.avatar-select {
  position: relative;
}

.avatar-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none; /* Ocultar por defecto */
}

.avatar-options li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar-options li.selected {
  background-color: #e0e0e0;
}

.avatar-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
