/* Ruta relativa: src/styles/index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más moderna y limpia */
  background-color: #E5DDD5; /* Color de fondo similar al de los mensajes */
}
