/* Ruta relativa: src/styles/Settings.css */
.contact-settings {
  display: flex;
  flex-direction: column;
}

.settings-options {
  padding: 10px;
}

.settings-options button {
  display: block;
  margin: 10px 0;
  background: #25D366; /* Color verde para los botones */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.settings-options button:hover {
  background: #1EBEA5; /* Color verde más oscuro al pasar el ratón */
}
