/* src/styles/Chat.css */
.chat-page {
    display: flex;
    flex-direction: column;
  }
  
  .contact {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer; /* Asegura que el cursor cambie a mano cuando se pase por encima */
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9; /* Opcional, para que el área sea más visible */
  }
  
  .contact:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo cuando se pasa el ratón */
  }
  
  .contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contact-name {
    font-size: 18px;
    font-weight: bold;
  }
  